/*
General Styling
*/
body {
    font-family: arial, sans-serif;
    font-weight: 400;
    background-color: #f1f1f1;
    color: #333;
    margin: 0;
}
a {
   text-decoration: none;
   color: #d69e00;
}
a:hover {
    color: #e4b532;
}
/* Hero 
*/

header {
    width: 100%;
    background-color: #16445f;
}

.hero {
    background-color:#6445f; text-align:center; overflow: auto;
}
.hero-card {
    border. 2px solid #fff; color. #efefef;
    padding: 50px; width: B8Opx;
    margin:1OOpx auto 50px auto;
}
.hero-card-title {
    font-family: georgia,serif; margin:O;
    font-size:50px:
}
.hero-card-description { font-family: georgia,serif; font-size:30px:
font-weight: 300; margin:20px o;
}

.hero-card-link {
    text-decoration:none; color:#efefef;
    font-size: lBp;
    border:2px solid #efefef; padding: Spx 20px;
}
.hero-card-link:hover { color. #D69EOO; border-color. #D69EOO;
}
/* Navigation */
.main-nav { 
    margin:20px auto;
}
.nav-link { color: #fff:
    text-decoration:none;
    font-size:20px; margin:lOpx 5px; padding: 1Opx lSpx;
    border: 2px solid rgba(255,255,255,O);
}
.nav-link:hover { color:#FFD86B;
    border-color: #FFD86B;
}
/*r Main content */
.main-content { padding: 20px; text-align: center;
}
/* Footer */ footer {
    background-color: #333;
    color: #999; padding: 20px; text-align:center;
}
.footer-link {
    color: #ABBl;
    text-decoration:none;
}
.footer-link:hover { color: #D69EOO;
    text-decoration:underline;
}
/* Home */
.card {
    background-color: #fff; border: 1px solid #ddd; width: 300px;
    margin:20px auto;
}
.card-title {
    padding:1Opx 20px; 
    margin:20px,1Opx;
    font-size: 24px;
}
/* About */
.about-list-container { border: 4px solid #ddd; text-align:left; padding: 20px; margin:20px;
}
/* Coffee */

.coffee-quote { font-size:30px; color: #l6445f;
}
.menu{
    border: 4px solid #ddd; text-align:left;
    padding: 20px;
}
.dt {
    font-size:20px; font-weight: bold; margin-bottom: 5px;
 
}
.dd {
    color: #666; margin-left :20px;
    margin-bottom:20px;
}
/* Assignments */

.assignment-list { border: 4px solid #ddd; padding: 20px;
    margin:20px auto; width: 860px;
}
/* Search •*/
.search-placeholder { width: 600px;
    height: 400px; background-color:  #ddd; margin:20px auto; padding: 20px;
}